<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement" class="col-md-3 col-md-pull-9 wb-navcurr-inited wb-navcurr-inited">
  <h2 id="wb-side-nav">Section menu</h2>
    <div class="wb-sec-def">

<!-- THEME DEBUG -->
<!-- CALL: theme('panels_pane') -->
<!-- FILE NAME SUGGESTIONS:
   * panels-pane--menu-tree--menu-life-at-tu.tpl.php
   * panels-pane--menu-tree.tpl.php
   x panels-pane.tpl.php
-->
<!-- BEGIN OUTPUT from 'profiles/wetkit/modules/contrib/panels/templates/panels-pane.tpl.php' -->
      <div class="panel-pane pane-menu-tree pane-menu-life-at-tu">
        <h2 class="pane-title">Life at TU</h2>
        <div class="pane-content">

      <!-- THEME DEBUG -->
      <!-- CALL: theme('menu_block_wrapper') -->
      <!-- BEGIN OUTPUT from 'profiles/wetkit/modules/contrib/menu_block/menu-block-wrapper.tpl.php' -->
          <div class="menu-block-wrapper menu-block-ctools-menu-life-at-tu-1 menu-name-menu-life-at-tu parent-mlid-0 menu-level-1">
              <ul class="menu nav"><li class="first expanded active-trail active menu-mlid-4256 active dropdown active"><h3><a href="/residencelife" class="active-trail dropdown-toggle active active-trail dropdown-toggle active wb-navcurr wb-navcurr" data-target="#" data-toggle="dropdown">Residence Life</a></h3>
                <ul class="list-unstyled"><li class="first leaf menu-mlid-4316"><a href="/residencelife/faq">FAQ</a></li>
                  <li class="leaf menu-mlid-4321"><a href="/studentactivities/forms">Residence Life Forms</a></li>
                  <li class="leaf menu-mlid-4326"><a href="/residencelife/oncampus">On Campus Housing</a></li>
                  <li class="leaf menu-mlid-4331"><a href="/residencelife/offcampus">Off Campus Housing</a></li>
                  <li class="leaf menu-mlid-4936"><a href="/residencelife/campus-security">Campus Security</a></li>
                  <li class="last leaf menu-mlid-4341"><a href="/residencelife/ra-application">RA Application Process</a></li>
                </ul>
              </li>
              <li class="leaf menu-mlid-4261"><h3><a href="https://www.aviserves.com/Tiffin/">Dining</a></h3></li>
              <li class="collapsed menu-mlid-4266"><h3><a href="/careers">Career &amp; Student Development</a></h3></li>
              <li class="collapsed menu-mlid-4271"><h3><a href="/studentservices">Student Services</a></h3></li>
              <li class="collapsed menu-mlid-4276"><h3><a href="/studentactivities">Student Activities</a></h3></li>
              <li class="collapsed menu-mlid-4286"><h3><a href="/campuslife/clubsports/forms">Club Sports</a></h3></li>
              <li class="leaf menu-mlid-4291"><h3><a href="http://tiffinartscom.ipage.com/index.html">Performing Arts</a></h3></li>
              <li class="leaf menu-mlid-4296"><h3><a href="/dianekiddgallery">Diane Kidd Gallery</a></h3></li>
              <li class="leaf menu-mlid-4301"><h3><a href="/academics/resources/osr">First-Year Programs</a></h3></li>
              <li class="leaf menu-mlid-21771"><h3><a href="/%3Cnolink%3E">International Admissions</a></h3></li>
              <li class="collapsed menu-mlid-4306"><h3><a href="/international/info">International Students</a></h3></li>
              <li class="last collapsed menu-mlid-4311"><h3><a href="/security">Campus Safety and Security</a></h3></li>
            </ul>
          </div>
      <!-- END OUTPUT from 'profiles/wetkit/modules/contrib/menu_block/menu-block-wrapper.tpl.php' -->
        </div>
      </div>
      <!-- END OUTPUT from 'profiles/wetkit/modules/contrib/panels/templates/panels-pane.tpl.php' -->
    </div>
</nav>
